# Dataset de Airbnb NYC

In [1]:
import pandas as pd
import numpy as np

### La siguiente celda  guarda cada hoja del archivo excel en un dataframe

In [2]:
df1 = pd.read_excel("Airbnb_NYC.xlsx",sheet_name = "NYC1")
df2 = pd.read_excel("Airbnb_NYC.xlsx",sheet_name = "NYC2")

**1. Unir los dos dataframe anteriores por la columna "id"**

In [3]:
df = pd.merge(df1,df2,right_on="id", left_on="id")
df.head(5)

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaT,NaN,1.0,365.0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0

In [4]:
df.shape

(48895, 16)

**2.	¿Si quiero hospedarme en Manhattan una sola noche y para elegir el Airbnb me guio por el que tenga el mayor número de *review* donde me debería de hospedar?**

In [5]:
df[(df["municipio"]=="Manhattan") & (df["minimum_nights"]==1.0)].sort_values("number_of_reviews", ascending=False).reset_index(drop=True).loc[0,"name"]

'Great Bedroom in Manhattan'

In [6]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'municipio', 'barrio', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [7]:
df4 = df.sort_values("number_of_reviews", ascending = False).reset_index(drop=True)
for indice, area in enumerate(df4["municipio"]):
    if area == "Manhattan":
        if df4.loc[indice]["minimum_nights"] == 1.0:
            print(df4.loc[indice]["name"])
            break

Great Bedroom in Manhattan

**3.	 Busco un Airbnb en el municipio donde el precio promedio de alquiler sea el más bajo y la cantidad de *review* por mes sea el mayor. ¿Cuáles son las 3 habitaciones que mejor se adaptan a estos criterios?**

In [8]:
municipios = df["municipio"].unique()
mun_prom_alq = []
for i in df["municipio"].unique(): 
    promedio_alquiler = sum(df[df["municipio"].isin([i])]["price"])/len(df[df["municipio"].isin([i])]["price"])
    mun_prom_alq.append(promedio_alquiler)
municipio_alq_masbajo = municipios[mun_prom_alq.index(min(mun_prom_alq))]
print(municipio_alq_masbajo)
Mejores_hab = df[df["municipio"]==municipio_alq_masbajo].sort_values("reviews_per_month", ascending=False).reset_index().loc[0:2]["name"]
print(Mejores_hab)

Bronx
0                       IDEALLY LOCATED COZY COTTAGE
1    Peaceful 2 Bedroom apartment in a private house
2         TW #6 Private Suite 2nd Fl.  1 to 4 Guests
Name: name, dtype: object

In [9]:
municipio = df.groupby(['municipio'],sort=True)['price'].mean().nsmallest(1).index.tolist()
df[df['municipio']==municipio[0]].sort_values('reviews_per_month',ascending=False).head(3)

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
23371,18914730,IDEALLY LOCATED COZY COTTAGE,1776707,Luis,Bronx,Throgs Neck,40.83051,-73.82511,Entire home/apt,95.0,1.0,266.0,2019-06-28,10.34,1.0,345.0
41945,32595490,Peaceful 2 Bedroom apartment in a private house,245003299,Yoselyn,Bronx,Clason Point,40.80924,-73.85107,Entire home/apt,95.0,2.0,27.0,2019-07-05,8.62,1.0,153.0
42252,32801214,TW #6 Private Suite 2nd Fl. 1 to 4 Guests,211136294,Sharon & Erika,Bronx,Schuylerville,40.83560,-73.83369,Private room,150.0,1.0,24.0,2019-06-20,8.37,5.0,247.0

In [10]:
print(df.groupby('municipio').mean().price.head(1))
df[(df.municipio=='Bronx')].sort_values('reviews_per_month', ascending=False).head(3)

municipio
Bronx    87.496792
Name: price, dtype: float64

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
23371,18914730,IDEALLY LOCATED COZY COTTAGE,1776707,Luis,Bronx,Throgs Neck,40.83051,-73.82511,Entire home/apt,95.0,1.0,266.0,2019-06-28,10.34,1.0,345.0
41945,32595490,Peaceful 2 Bedroom apartment in a private house,245003299,Yoselyn,Bronx,Clason Point,40.80924,-73.85107,Entire home/apt,95.0,2.0,27.0,2019-07-05,8.62,1.0,153.0
42252,32801214,TW #6 Private Suite 2nd Fl. 1 to 4 Guests,211136294,Sharon & Erika,Bronx,Schuylerville,40.83560,-73.83369,Private room,150.0,1.0,24.0,2019-06-20,8.37,5.0,247.0

**4.	Quiero rentar un Airbnb completo por un total de 200 días, en Brooklyn o Manhattan; no quiero pagar más de 150 dólares por noche, ¿Cuáles son las 5 opciones más economicas que me ofrece Airbnb?**

In [11]:
nuevo_df = df[df["municipio"].isin(["Manhattan","Brooklyn"])]
nuevo_df2 = nuevo_df[nuevo_df["room_type"]=="Entire home/apt"]
nuevo_df3 = nuevo_df2[nuevo_df2["price"]<150]
nuevo_df4 = nuevo_df3[nuevo_df3["availability_365"]>=200]
mejores_airbnb = nuevo_df4.sort_values("price", ascending=True).reset_index().loc[0:4,"name"]
print(mejores_airbnb)

0             Big one bedroom apt, new and beautiful.
1             Spacious and Modern 2 Bedroom Apartment
2                                     Dee's Rest Easy
3    Cozy Mini Studio Prvt Bath & Kitchen 15 Mins JFK
4            Bright, cozy 1 bedroom near Central Park
Name: name, dtype: object

In [12]:
df[(df["room_type"]=="Entire home/apt") & (df["availability_365"]>=200) & (df["price"]<=150) & (df["municipio"].isin(["Manhattan","Brooklyn"]))].sort_values("price", ascending = True).head()

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
46049,35042058,"Big one bedroom apt, new and beautiful.",19342,Rivka,Manhattan,Upper West Side,40.79900,-73.96315,Entire home/apt,11.0,7.0,0.0,NaT,NaN,1.0,273.0
20992,16620607,Spacious and Modern 2 Bedroom Apartment,109725962,Erika,Brooklyn,Bushwick,40.68994,-73.91556,Entire home/apt,11.0,2.0,113.0,2019-06-22,3.86,1.0,261.0
28517,22103438,Dee's Rest Easy,161468583,Dee,Brooklyn,Flatbush,40.64429,-73.95732,Entire home/apt,22.0,2.0,35.0,2019-04-29,1.83,1.0,312.0
25633,20523741,Cozy Mini Studio Prvt Bath & Kitchen 15 Mins JFK,141027957,Radhames,Brooklyn,Cypress Hills,40.69006,-73.86917,Entire home/apt,34.0,2.0,93.0,2019-06-30,4.07,2.0,247.0
44560,34302049,"Bright, cozy 1 bedroom near Central Park",17831516,Rebecca,Manhattan,East Harlem,40.78728,-73.94710,Entire home/apt,35.0,30.0,0.0,NaT,NaN,1.0,235.0

**5.	En un nuevo *Dataframe* mostrar por municipio: el número de habitaciones tipo individual, casa o departamento entero y compartido; también mostrar en otra columna el precio promedio de todas las habitaciones por municipio.**

In [13]:
indice = df["municipio"].unique()
columnas = ["# hab. individual", "#cas/dep","compartido","Precio promedio"]
nuevo_data = pd.DataFrame(index = indice, columns = columnas)

In [14]:
for i in indice:
    Entire, Private, Shared = df[df["municipio"]==i]["room_type"].value_counts() 
    nuevo_data.xs(i)["# hab. individual"] = Private
    nuevo_data.xs(i)["#cas/dep"] = Entire
    nuevo_data.xs(i)["compartido"] = Shared
nuevo_data

              # hab. individual #cas/dep compartido Precio promedio
Brooklyn                   9559    10132        413             NaN
Manhattan                  7982    13199        480             NaN
Queens                     2096     3372        198             NaN
Staten Island               176      188          9             NaN
Bronx                       379      652         60             NaN

In [15]:
for i in indice:
    nuevo_data.xs(i)["Precio promedio"] = df[df["municipio"]==i]["price"].mean() 
nuevo_data

              # hab. individual #cas/dep compartido Precio promedio
Brooklyn                   9559    10132        413      124.383207
Manhattan                  7982    13199        480      196.875814
Queens                     2096     3372        198       99.517649
Staten Island               176      188          9      114.812332
Bronx                       379      652         60       87.496792

In [16]:
df[['municipio', 'room_type','price']].groupby(['municipio','room_type']).agg({'room_type': 'count', 'price':'mean'})

                               room_type       price
municipio     room_type
Bronx         Entire home/apt        379  127.506596
              Private room           652   66.788344
              Shared room             60   59.800000
Brooklyn      Entire home/apt       9559  178.327545
              Private room         10132   76.500099
              Shared room            413   50.527845
Manhattan     Entire home/apt      13199  249.239109
              Private room          7982  116.776622
              Shared room            480   88.977083
Queens        Entire home/apt       2096  147.050573
              Private room          3372   71.762456
              Shared room            198   69.020202
Staten Island Entire home/apt        176  173.846591
              Private room           188   62.292553
              Shared room              9   57.444444

In [17]:
df4 = df.groupby(["municipio","room_type"]).count()["id"]
df4
df5 = df.groupby(["municipio","room_type"]).mean()["price"]
df5
df6 = pd.merge(df4,df5,on=["municipio","room_type"])
df6

                                  id       price
municipio     room_type
Bronx         Entire home/apt    379  127.506596
              Private room       652   66.788344
              Shared room         60   59.800000
Brooklyn      Entire home/apt   9559  178.327545
              Private room     10132   76.500099
              Shared room        413   50.527845
Manhattan     Entire home/apt  13199  249.239109
              Private room      7982  116.776622
              Shared room        480   88.977083
Queens        Entire home/apt   2096  147.050573
              Private room      3372   71.762456
              Shared room        198   69.020202
Staten Island Entire home/apt    176  173.846591
              Private room       188   62.292553
              Shared room          9   57.444444

**6.	Crea una nueva columna con el rating de acuerdo a la siguiente formula, donde las variables son: puntuación del municipio, número de reviews y disponibilidad de la habitación al año.**

**Formula: Rating = (Puntuación de ciudad) + (número de review/ 629) + (disponibilidad / 365).**

La puntuación para cada ciudad es la siguiente {"Manhattan":10/10,"Brooklyn":8/10,"Queens":6/10,"Staten Island":4/10,"Bronx":2/10}.

In [18]:
puntuaje_ciudad={"Manhattan":10/10,"Brooklyn":8/10,"Queens":6/10,"Staten Island":4/10,"Bronx":2/10}
puntuaje_ciudad

{'Manhattan': 1.0,
 'Brooklyn': 0.8,
 'Queens': 0.6,
 'Staten Island': 0.4,
 'Bronx': 0.2}

In [19]:
list_rating=[]
for i in df.index:
    ciudad = df.loc[i]["municipio"]
    num_reviews = df.loc[i]["number_of_reviews"]
    disponibilidad = df.loc[i]["availability_365"]
    rating =  puntuaje_ciudad[ciudad]+ num_reviews/629 + disponibilidad/365
    list_rating.append(rating)
#list_rating

In [20]:
df["rating"] = list_rating
df.head()

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0,1.814308
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0,2.044145
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaT,NaN,1.0,365.0,2.000000
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0,1.760760
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0,1.014308

In [21]:
puntajes_ciudad = {"Manhattan":10/10,"Brooklyn":8/10,"Queens":6/10,"Staten Island":4/10,"Bronx":2/10}
df['Rating2'] = df.apply(lambda x: puntajes_ciudad[x['municipio']] + x['number_of_reviews']/629 + x['availability_365']/365,axis=1)
df.head()

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating,Rating2
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0,1.814308,1.814308
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0,2.044145,2.044145
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaT,NaN,1.0,365.0,2.000000,2.000000
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0,1.760760,1.760760
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0,1.014308,1.014308

In [22]:
def rating(municipio,number_of_reviews,availability_365):
    if "Manhattan" in municipio:
        return (10/10)+(number_of_reviews/629)+(availability_365/365)
    elif "Brooklyn" in municipio:
        return (8/10)+(number_of_reviews/629)+(availability_365/365)
    elif "Queens" in municipio:
        return (6/10)+(number_of_reviews/629)+(availability_365/365)
    elif "Staten Island" in municipio:
        return (4/10)+(number_of_reviews/629)+(availability_365/365)
    else:
        return (2/10)+(number_of_reviews/629)+(availability_365/365)
    
df["Rating56"]=df.apply(lambda x: rating(x["municipio"],x["number_of_reviews"],x["availability_365"]),axis=1)
df

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating,Rating2,Rating56
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0,1.814308,1.814308,1.814308
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0,2.044145,2.044145,2.044145
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaT,NaN,1.0,365.0,2.000000,2.000000,2.000000
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0,1.760760,1.760760,1.760760
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0,1.014308,1.014308,1.014308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70.0,2.0,0.0,NaT,NaN,2.0,9.0,0.824658,0.824658,0.824658
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40.0,4.0,0.0,NaT,NaN,2.0,36.0,0.898630,0.898630,0.898630
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115.0,10.0,0.0,NaT,NaN,1.0,27.0,1.073973,1.073973,1.073973
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55.0,1.0,0.0,NaT,NaN,6.0,2.0,1.005479,1.005479,1.005479
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90.0,7.0,0.0,NaT,NaN,1.0,23.0,1.063014,1.063014,1.063014

In [ ]:
df[["municipio","number_of_reviews","availability_365"]].apply(rating)

**7. Encontrar las 5 habitaciones de cada municipio con mayor rating**

In [32]:
lista1=[]
lista2=[]
lista3=[]
for i in puntuaje_ciudad.keys():
    lista1.extend(list(df[df["municipio"]==i].sort_values("rating", ascending=False).head(5)["name"].values))
    lista2.extend([i]*5)
    lista3.extend(list(df[df["municipio"]==i].sort_values("rating", ascending=False).head(5)["rating"].values))

In [34]:
dfnew=pd.DataFrame()
dfnew["Mun"]=lista2
dfnew["Nomb-hab"]=lista1
dfnew["Rating"]=lista3
dfnew

              Mun                                           Nomb-hab    Rating
0       Manhattan                     Beautiful Bedroom in Manhattan  2.886112
1       Manhattan                       Private Bedroom in Manhattan  2.873123
2       Manhattan                         Great Bedroom in Manhattan  2.767764
3       Manhattan                        Prime Location in Manhattan  2.494815
4       Manhattan                PRIVATE Room on Historic Sugar Hill  2.434989
5        Brooklyn                    NYC 1st Shipping Container Home  2.376536
6        Brooklyn                 Private brownstone studio Brooklyn  2.312821
7        Brooklyn                 Private Room in a two bedroom apt.  2.300425
8        Brooklyn  HappyCozy GuestSuite w/ Great Energy close to JFK  2.285236
9        Brooklyn      Chic Victorian private apartment in townhouse  2.262038
10         Queens                            Room near JFK Queen Bed  2.512329
11         Queens  Cozy Room Family Home LGA Airport NO CLEANING FEE  2.345057
12         Queens                                   yahmanscrashpads  2.288904
13         Queens                   My Little Guest Room in Flushing  2.263166
14         Queens                    Bright LARGE BED near Manhattan  2.247708
15  Staten Island                 D Private Che@p Room 2 Explore NYC  1.860919
16  Staten Island                     A SpeciaL!! Private Room in NY  1.693138
17  Staten Island                        C Private Room By The Ferry  1.558111
18  Staten Island                        Owl's Landing - Garden Room  1.549313
19  Staten Island              Cozy 4 beds, Free Ferry to Manhattan.  1.544404
20          Bronx              A PRIVATE FLAT / APARTMENT- $SPECIAL$  1.581528
21          Bronx                       IDEALLY LOCATED COZY COTTAGE  1.568099
22          Bronx                                   Room with a View  1.515295
23          Bronx                   Bronx Room Near Yankees + Harlem  1.403437
24          Bronx                   A beautiful Cozy 1 BR Apartment.  1.390348

In [35]:
df_best_ratings = pd.DataFrame()

for i in df['municipio'].unique():
    best_municipio = df[df['municipio']==i].sort_values('rating',ascending=False).head(5)
    df_best_ratings = pd.concat([df_best_ratings,best_municipio])
df_best_ratings.reset_index(inplace=True)
df_best_ratings

,index,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating,Rating2,Rating56
0,1547,699472,NYC 1st Shipping Container Home,3587751,Janet-David,Brooklyn,Williamsburg,40.70995,-73.95536,Entire home/apt,220.0,1.0,404.0,2019-06-25,4.90,2.0,341.0,2.376536,2.376536,2.376536
1,4870,3474320,Private brownstone studio Brooklyn,12949460,Asa,Brooklyn,Park Slope,40.67926,-73.97711,Entire home/apt,160.0,1.0,488.0,2019-07-01,8.14,1.0,269.0,2.312821,2.312821,2.312821
2,4931,3533604,Private Room in a two bedroom apt.,9510645,Rylan,Brooklyn,Bushwick,40.70399,-73.92813,Private room,96.0,1.0,332.0,2019-07-06,5.57,2.0,355.0,2.300425,2.300425,2.300425
3,3105,1843108,HappyCozy GuestSuite w/ Great Energy close to JFK,2021121,Megan,Brooklyn,Cypress Hills,40.67840,-73.89362,Entire home/apt,125.0,1.0,319.0,2019-07-08,8.52,1.0,357.0,2.285236,2.285236,2.285236
4,1571,713538,Chic Victorian private apartment in townhouse,3672774,Alison,Brooklyn,Clinton Hill,40.68341,-73.96060,Entire home/apt,175.0,1.0,363.0,2019-06-16,4.55,2.0,323.0,2.262038,2.262038,2.262038
5,2030,903947,Beautiful Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82124,-73.93838,Private room,49.0,1.0,597.0,2019-06-23,7.72,3.0,342.0,2.886112,2.886112,2.886112
6,2015,891117,Private Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82264,-73.94041,Private room,49.0,1.0,594.0,2019-06-15,7.57,3.0,339.0,2.873123,2.873123,2.873123
7,2031,903972,Great Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82085,-73.94025,Private room,49.0,1.0,607.0,2019-06-21,7.75,3.0,293.0,2.767764,2.767764,2.767764
8,195,51572,Prime Location in Manhattan,237329,Lee,Manhattan,Chelsea,40.74859,-73.99671,Private room,123.0,1.0,375.0,2019-06-18,3.52,1.0,328.0,2.494815,2.494815,2.494815
9,225,58059,PRIVATE Room on Historic Sugar Hill,277379,Agnes,Manhattan,Harlem,40.82510,-73.94287,Private room,60.0,1.0,458.0,2019-07-03,4.58,2.0,258.0,2.434989,2.434989,2.434989
10,11759,9145202,Room near JFK Queen Bed,47621202,Dona,Queens,Jamaica,40.66730,-73.76831,Private room,47.0,1.0,629.0,2019-07-05,14.58,2.0,333.0,2.512329,2.512329,2.512329
11,20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48.0,1.0,510.0,2019-07-06,16.22,5.0,341.0,2.345057,2.345057,2.345057
12,1103,467634,yahmanscrashpads,2321321,Lloyd,Queens,Jamaica,40.67747,-73.76493,Shared room,39.0,1.0,454.0,2019-06-18,5.27,1.0,353.0,2.288904,2.288904,2.288904
13,1271,546383,My Little Guest Room in Flushing,2680820,Linda,Queens,Flushing,40.75578,-73.81948,Private room,55.0,1.0,474.0,2019-05-25,5.53,3.0,332.0,2.263166,2.263166,2.263166
14,8001,6157276,Bright LARGE BED near Manhattan,23591164,Angela,Queens,East Elmhurst,40.76664,-73.87577,Private room,65.0,1.0,466.0,2019-06-22,9.16,4.0,331.0,2.247708,2.247708,2.247708
15,256,63320,D Private Che@p Room 2 Explore NYC,303939,Lissette,Staten Island,Tompkinsville,40.63481,-74.08519,Private room,36.0,2.0,333.0,2019-07-02,3.19,6.0,340.0,1.860919,1.860919,1.860919
16,249,62452,A SpeciaL!! Private Room in NY,303939,Lissette,Staten Island,Tompkinsville,40.63536,-74.08537,Private room,36.0,2.0,193.0,2019-06-25,1.85,6.0,360.0,1.693138,1.693138,1.693138
17,251,62787,C Private Room By The Ferry,303939,Lissette,Staten Island,Tompkinsville,40.63518,-74.08546,Private room,37.0,2.0,177.0,2019-07-02,1.71,6.0,320.0,1.558111,1.558111,1.558111
18,13046,9882254,Owl's Landing - Garden Room,50068597,Alex,Staten Island,Stapleton,40.63516,-74.07735,Private room,52.0,2.0,137.0,2019-07-01,3.17,3.0,340.0,1.549313,1.549313,1.549313
19,18699,14804661,"Cozy 4 beds, Free Ferry to Manhattan.",92493393,Eddie & Lois,Staten Island,West Brighton,40.63333,-74.11311,Entire home/apt,125.0,2.0,96.0,2019-07-01,2.82,5.0,362.0,1.544404,1.544404,1.544404
20,510,182177,A PRIVATE FLAT / APARTMENT- $SPECIAL$,873273,Christian & Carla,Bronx,Allerton,40.86466,-73.85709,Entire home/apt,125.0,2.0,271.0,2019-06-20,2.84,2.0,347.0,1.581528,1.581528,1.581528
21,23371,18914730,IDEALLY LOCATED COZY COTTAGE,1776707,Luis,Bronx,Throgs Neck,40.83051,-73.82511,Entire home/apt,95.0,1.0,266.0,2019-06-28,10.34,1.0,345.0,1.568099,1.568099,1.568099
22,171,44096,Room with a View,190409,Waundell,Bronx,Highbridge,40.83232,-73.93184,Private room,40.0,1.0,219.0,2019-07-04,2.04,3.0,353.0,1.515295,1.515295,1.515295
23,1193,506575,Bronx Room Near Yankees + Harlem,2001830,Jose And Ysaira,Bronx,Morris Heights,40.84937,-73.91328,Private room,45.0,3.0,190.0,2019-06-06,2.21,2.0,329.0,1.403437,1.403437,1.403437
24,14310,11138823,A beautiful Cozy 1 BR Apartment.,57885474,Shully'S,Bronx,Wakefield,40.89694,-73.86055,Entire home/apt,90.0,2.0,199.0,2019-06-21,5.00,2.0,319.0,1.390348,1.390348,1.390348

In [36]:
df3 = df[['id','name','municipio','barrio','price','room_type','rating']]
df3.sort_values(["municipio",'rating'], ascending = False).groupby(by=['municipio']).head()

,id,name,municipio,barrio,price,room_type,rating
256,63320,D Private Che@p Room 2 Explore NYC,Staten Island,Tompkinsville,36.0,Private room,1.860919
249,62452,A SpeciaL!! Private Room in NY,Staten Island,Tompkinsville,36.0,Private room,1.693138
251,62787,C Private Room By The Ferry,Staten Island,Tompkinsville,37.0,Private room,1.558111
13046,9882254,Owl's Landing - Garden Room,Staten Island,Stapleton,52.0,Private room,1.549313
18699,14804661,"Cozy 4 beds, Free Ferry to Manhattan.",Staten Island,West Brighton,125.0,Entire home/apt,1.544404
11759,9145202,Room near JFK Queen Bed,Queens,Jamaica,47.0,Private room,2.512329
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,Queens,East Elmhurst,48.0,Private room,2.345057
1103,467634,yahmanscrashpads,Queens,Jamaica,39.0,Shared room,2.288904
1271,546383,My Little Guest Room in Flushing,Queens,Flushing,55.0,Private room,2.263166
8001,6157276,Bright LARGE BED near Manhattan,Queens,East Elmhurst,65.0,Private room,2.247708
2030,903947,Beautiful Bedroom in Manhattan,Manhattan,Harlem,49.0,Private room,2.886112
2015,891117,Private Bedroom in Manhattan,Manhattan,Harlem,49.0,Private room,2.873123
2031,903972,Great Bedroom in Manhattan,Manhattan,Harlem,49.0,Private room,2.767764
195,51572,Prime Location in Manhattan,Manhattan,Chelsea,123.0,Private room,2.494815
225,58059,PRIVATE Room on Historic Sugar Hill,Manhattan,Harlem,60.0,Private room,2.434989
1547,699472,NYC 1st Shipping Container Home,Brooklyn,Williamsburg,220.0,Entire home/apt,2.376536
4870,3474320,Private brownstone studio Brooklyn,Brooklyn,Park Slope,160.0,Entire home/apt,2.312821
4931,3533604,Private Room in a two bedroom apt.,Brooklyn,Bushwick,96.0,Private room,2.300425
3105,1843108,HappyCozy GuestSuite w/ Great Energy close to JFK,Brooklyn,Cypress Hills,125.0,Entire home/apt,2.285236
1571,713538,Chic Victorian private apartment in townhouse,Brooklyn,Clinton Hill,175.0,Entire home/apt,2.262038
510,182177,A PRIVATE FLAT / APARTMENT- $SPECIAL$,Bronx,Allerton,125.0,Entire home/apt,1.581528
23371,18914730,IDEALLY LOCATED COZY COTTAGE,Bronx,Throgs Neck,95.0,Entire home/apt,1.568099
171,44096,Room with a View,Bronx,Highbridge,40.0,Private room,1.515295
1193,506575,Bronx Room Near Yankees + Harlem,Bronx,Morris Heights,45.0,Private room,1.403437
14310,11138823,A beautiful Cozy 1 BR Apartment.,Bronx,Wakefield,90.0,Entire home/apt,1.390348

**8. Crear un dataframe con la cantidad de reviews de cada municipio de acuerdo a tipo de habitación**

In [37]:
lista1=[]
lista2=[]
lista3=[]
for i in df["municipio"].unique():
    for j in df["room_type"].unique():
        lista1.append(df[(df["municipio"]==i) & (df["room_type"]==j)]["number_of_reviews"].sum())
        lista2.append(j)
        lista3.append(i)
df2new=pd.DataFrame()
df2new["Mun"]=lista3
df2new["Tipo-hab"]=lista2
df2new["total rev"]=lista1
df2new

              Mun         Tipo-hab  total rev
0        Brooklyn     Private room   213653.0
1        Brooklyn  Entire home/apt   267128.0
2        Brooklyn      Shared room     5793.0
3       Manhattan     Private room   209150.0
4       Manhattan  Entire home/apt   235147.0
5       Manhattan      Shared room    10272.0
6          Queens     Private room    93561.0
7          Queens  Entire home/apt    60644.0
8          Queens      Shared room     2745.0
9   Staten Island     Private room     5670.0
10  Staten Island  Entire home/apt     5857.0
11  Staten Island      Shared room       14.0
12          Bronx     Private room    16312.0
13          Bronx  Entire home/apt    11627.0
14          Bronx      Shared room      432.0

In [38]:
n_reviews = pd.DataFrame(df.groupby(["municipio","room_type"]).sum()["number_of_reviews"])
n_reviews

                               number_of_reviews
municipio     room_type
Bronx         Entire home/apt            11627.0
              Private room               16312.0
              Shared room                  432.0
Brooklyn      Entire home/apt           267128.0
              Private room              213653.0
              Shared room                 5793.0
Manhattan     Entire home/apt           235147.0
              Private room              209150.0
              Shared room                10272.0
Queens        Entire home/apt            60644.0
              Private room               93561.0
              Shared room                 2745.0
Staten Island Entire home/apt             5857.0
              Private room                5670.0
              Shared room                   14.0

**9. Encontrar los 10 barrios con mayor precio por habitación individual**

In [47]:
df[df.room_type=='Private room'].groupby('barrio')["price"].max().reset_index().sort_values('price',ascending=False).head(10)

                 barrio    price
4               Astoria  10000.0
114     Lower East Side   9999.0
59        East Flatbush   7500.0
192     Upper West Side   6500.0
12   Bedford-Stuyvesant   5000.0
33              Chelsea   3210.0
72   Financial District   3000.0
22       Brighton Beach   3000.0
199        West Village   2850.0
63         East Village   2500.0

In [48]:
# Barrios con el precio promedio más alto

df5 = df[df.room_type == 'Private room']
grupo = df5.groupby(by='barrio')['price'].mean().reset_index()
grupo.sort_values('price', ascending=False).head(10)

                 barrio       price
158           Riverdale  803.500000
122             Midtown  244.428910
102     Jamaica Estates  223.000000
20         Breezy Point  213.333333
199        West Village  205.651786
187             Tribeca  191.264706
13         Belle Harbor  178.333333
136                NoHo  166.142857
72   Financial District  165.623457
42          Cobble Hill  161.727273

**10. Encuentra el barrio con mejor rating de cada municipio y después seleccionar los 2 barrios con el menor precio por "dep/casa completo".**

In [54]:
dfordenado1= df.groupby(['municipio','barrio'])[['rating','price']].first().reset_index().sort_values("rating", ascending=False)
dfordenado1.groupby("municipio")["barrio"].first().values

array(['Allerton', 'Carroll Gardens', "Hell's Kitchen",
       'Springfield Gardens', 'Tompkinsville'], dtype=object)

In [56]:
df191 = df[(df["room_type"]=="Entire home/apt") & (df["barrio"].isin(dfordenado1.groupby("municipio")["barrio"].first().values))].sort_values("price")
df191

,id,name,host_id,host_name,municipio,barrio,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating,Rating2,Rating56
47979,36022650,Charming entire apartment in Hell's Kitchen,2967377,Aude,Manhattan,Hell's Kitchen,40.76279,-73.99463,Entire home/apt,15.0,2.0,0.0,NaT,NaN,1.0,139.0,1.380822,1.380822,1.380822
31670,24678015,"A place to sleep the night near NYC,RUMC, Broo...",32162495,Mostafa,Staten Island,Tompkinsville,40.63126,-74.09210,Entire home/apt,48.0,3.0,1.0,2018-07-16,0.08,3.0,0.0,0.401590,0.401590,0.401590
1666,755528,PRIVATE BATH/TONS OF SUNLIGHT/SAFE,3684360,Enrique,Bronx,Allerton,40.85840,-73.86969,Entire home/apt,49.0,2.0,189.0,2019-06-23,2.32,4.0,238.0,1.152532,1.152532,1.152532
28328,22017362,Sunny Studio in Carroll Gardens!,160660639,Annette,Brooklyn,Carroll Gardens,40.67617,-74.00107,Entire home/apt,49.0,1.0,81.0,2019-07-02,4.27,2.0,141.0,1.315077,1.315077,1.315077
19186,15262831,THE PRIVACY DEN ~ 5 MINUTES TO JFK,97086824,Miss Dy,Queens,Springfield Gardens,40.66735,-73.76647,Entire home/apt,49.0,1.0,434.0,2019-06-19,12.84,1.0,102.0,1.569436,1.569436,1.569436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16545,13250484,Beautiful 2000 sq. ft. loft in Hells Kitchen NYC,10196579,James,Manhattan,Hell's Kitchen,40.75647,-73.99848,Entire home/apt,2000.0,1.0,4.0,2017-01-06,0.11,1.0,362.0,1.998140,1.998140,1.998140
27590,21701058,Luxury 8 Bedroom Townhouse in Midtown-Sleeps 16,69852641,Lisa,Manhattan,Hell's Kitchen,40.76481,-73.98845,Entire home/apt,2200.0,2.0,6.0,2019-03-02,0.35,3.0,217.0,1.604059,1.604059,1.604059
45710,34915860,Times Square 3BR Loft! Amazing Location!,256496159,Aleksey,Manhattan,Hell's Kitchen,40.75535,-73.99502,Entire home/apt,2500.0,70.0,0.0,NaT,NaN,3.0,191.0,1.523288,1.523288,1.523288
48304,36189195,Next to Times Square/Javits/MSG! Amazing 1BR!,270214015,Rogelio,Manhattan,Hell's Kitchen,40.75533,-73.99866,Entire home/apt,2999.0,30.0,0.0,NaT,NaN,1.0,222.0,1.608219,1.608219,1.608219
42736,33171891,30 days minimum Time square West Midtown apart...,177396569,Yanina,Manhattan,Hell's Kitchen,40.76043,-73.99132,Entire home/apt,4100.0,30.0,0.0,NaT,NaN,3.0,180.0,1.493151,1.493151,1.493151

In [57]:
df191.barrio.unique()[:2]

array(["Hell's Kitchen", 'Tompkinsville'], dtype=object)